<!doctype HTML>
<html>
<head>
  <title>SemiRest Friends</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'sr_users/css/style.css' %}">
</head>
<body>
<div class='main'>
<h1>Users</h1>
  <div class="users_table">
    <div class="header">
      <p class="name bold">Name</p>
      <p class="email bold">Email</p>
      <p class="email bold">Created</p>
      <div class="actions bold">
        <p>Actions</p>
      </div>      
    </div>
    {% for user in users %}   
    {% csrf_token %}
    <div class="row">
      <p class="name"><a href="show/{{user.id}}">{{ user.first_name }} {{ user.last_name}}</a></p>
      <p class="email">{{user.email}}</p>
      <p class="date">{{user.created_at|date:'b d, Y'}}</p>
      <div class="actions">
        <a href="/users/show/{{user.id}}">  Show </a>   
        <a href="/users/{{user.id}}/edit">  Edit </a>   
        <a href="/users/{{user.id}}/destroy">  Delete </a>
      </div>
    </div>  
    {% endfor %}
  </div>
  <a href="/users/new"> Add a new user </a>
</div>
</body>
</html>