<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Quotes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
    #wrapper {
        width: 974px;
    }
    #header-left {
        display: inline-block;
        width: 800px;
    }
    #header-right {
        display: inline-block;
        width: 170px;
    }
    #main {
        margin: 50px;
    }
    </style>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id="header-left">
            </div>
            <div id="header-right">
                <a href="/dashboard">Back</a> | 
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div id="main">
            <h4>Edit My Account</h4>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="form-group">
                    <form action="/edit/{{user.id}}" method="POST">
                        {% csrf_token %}
                        <p>First Name: <input type="text" name="first_name" value="{{user.first_name}}"></p>
                        <p>Last Name: <input type="text" name="last_name" value="{{user.last_name}}"></p>
                        <p>Email: <input type="email" name="email" value="{{user.email}}"></p>
                        <button>Update</button>
                    </form>
                </div>
        </div>
    </div>
</body>
</html>
