<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Quotes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
    #wrapper {
        width: 974px;
    }
    #header-left {
        display: inline-block;
        width: 800px;
    }
    #header-right {
        display: inline-block;
        width: 170px;
    }
    #main {
        margin: 50px;
    }


    </style>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id="header-left">
            </div>
            <div id="header-right">
                <a href="/dashboard">Back</a> | 
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div id="main">
                <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>{{user.first_name}} {{user.last_name}}'s Quotes</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in quotes %}
                            <tr>
                                <td>{{i.author}}: "{{i.quote}}"
                                </td>  
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
        </div>
    </div>
    
</body>
</html>