<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wishes Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style>
    
    #container {
        width: 900px;
        margin-left: 50px;
    }

    #left_header {
        display: inline-block;
        width: 655px;
    }
    #right_header {
        display: inline-block;
        
    }

    button {
        box-shadow: 2px 2px 1px;
        margin-right: 12px;
    }



    </style>
</head>
<body>

    <div id="container">
        <div id="header">
            <div id="left_header">
                <h1>Hello, {{user.first_name}}!</h1>
            </div>
            <div id="right_header">
                <button><a href="/new/{{user.id}}">Make a wish!</a></button>
                <button><a href="/stats">Stats</a></button>
                <a href="/logout">Logout</a>
            </div>
    
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        </div>

        <div id="main">
            <h2>Your wish list:</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Date added</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in wishes %}
                    <!-- {% if i.granted_id == 0 %} -->
                    <tr>
                        <td>{{i.item}}</td>
                        <td>{{i.created_at}}</td>
                        <td>
                            {% if i in posted_user %}
                            <a href="/delete/{{i.id}}">Remove |</a>
                            <a href="/edit/{{i.id}}"> Edit |</a>
                            {% endif %}
                            <a href="/grant/{{i.id}}"> Granted!</a>
                        </td>
                    </tr>
                    <!-- {% endif %} -->
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="granted_wishes">
            <h2>Granted wishes:</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Wisher</th>
                        <th>Date Added</th>
                        <th>Date Granted</th>
                        <th>Likes</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for j in wishes %}
                    <tr>
                        <td>{{j.item}}</td>
                        <td>{{j.posted_user.first_name}}</td>
                        <td>{{j.created_at}}</td>
                        <td>{{j.updated_at}}</td>
                        <td>{{j.liked_by.count}}</td>
                        {% if j.posted_by_id != user.id %}
                        <td><a href="/like/{{j.id}}">Like</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
    
</body>
</html>